@theme {
  --shadow-default: "0px 2px 2px 0px rgba(0,0,0,0.1)";
}

.rounded-10 {
  border-radius: 0.625rem;
}

.transition-300 {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* react quill 스타일링 */
.quill-no-toolbar {
  background-color: white;
  border: 1px solid var(--color-gray-50);
  border-radius: 0.625rem;
  font-style: normal;

  .ql-container.ql-snow {
    border: none;
    outline: none;
  }

  .ql-toolbar {
    display: none;
  }

  .ql-editor {
    padding: 1rem;

    &.ql-blank:before {
      font-style: normal;
    }
  }
}
